.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgb(97, 102, 92);
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-body {
    padding: 10px 15px;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 90%;
    gap: 10px;
}

.pairs {
    display: flex;
    flex-direction: column;
}

.text-area {
    resize: vertical;
}
/* Стили для кнопки "Форма" */
/* Стили для кнопки "Форма" */
button#showForm {
    display: block;
    width: 200px;
    height: 50px;
    margin: auto; /* Центрирование по горизонтали и вертикали */
    font-size: 18px;
  }
  /* Стили для кнопки "Назад" */
/* Стили для кнопки "Отправить" */
/* Стили для кнопки "Отправить" */
button#submitForm {
    margin-bottom: 10px; /* Отступ после кнопки "Отправить" */
  }
  
  /* Стили для кнопки "Назад" */
 /* Изменение стилей для всего сайта */
body {
    background-color: black; /* Черный фон */
    color: gold; /* Золотой цвет текста */
  }
  
  /* Изменение стилей для формы */
  form {
    border: 2px solid gold; /* Золотая рамка формы */
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Изменение стилей для кнопки "Отправить" и "Назад" */
  button#submitForm,
  button#backButton {
    background-color: gold; /* Золотой фон */
    color: black; /* Цвет текста черный */
    border: 2px solid gold; /* Золотая рамка кнопок */
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* Подсветка кнопок при наведении */
  button#submitForm:hover,
  button#backButton:hover {
    background-color: darkgoldenrod; /* Темно-золотой фон при наведении */
    color: black; /* Цвет текста черный */
  }
  /* Изменение стилей для всего сайта */
body {
    background-color: black; /* Черный фон */
    color: gold; /* Золотой цвет текста */
  }
  
  /* Изменение стилей для формы */
  form {
    border: 2px solid gold; /* Золотая рамка формы */
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Изменение стилей для кнопки "Отправить" и "Назад" */
  button#submitForm,
  button#backButton {
    background-color: gold; /* Золотой фон */
    color: black; /* Цвет текста черный */
    border: 2px solid gold; /* Золотая рамка кнопок */
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* Подсветка кнопок при наведении */
  button#submitForm:hover,
  button#backButton:hover {
    background-color: darkgoldenrod; /* Темно-золотой фон при наведении */
    color: black; /* Цвет текста черный */
  }
  /* Стили для кнопки "Отправить" */
button#submitForm {
    margin-bottom: 20px; /* Отступ между кнопкой "Отправить" и следующим элементом */
  }
  
  /* Стили для кнопки "Назад" */
  button#backButton {
    display: block;
    margin-top: 10px; /* Отступ над кнопкой "Назад" */
    padding: 8px 12px;
    font-size: 14px;
  }
  
